<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {{>styles}}
</head>
<body>
    {{>header}}
    <div class="not-found main-content">
        404 <br>
        Page not found<br>
        {{ error_message }}
    </div>
    {{>footer}}
</body>
</html>
