body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    padding: 16px 0;
    margin-top: 16px;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.me {
    border: 1px solid #888888;
    border-radius: 15px;
}

.not-found {
    text-align: center;
    margin-top: 150px;
    font-weight: 800;
    font-size: 50px;
}

.main-content {
    flex-grow: 1;
}
